{% extends 'base.html' %}
{% load static %}

{% block content %}
    <p id="loginmessage">
    {% if message %}
        {{ message }}<br><br>
    {% endif %}
    </p>

    <div class="content container">

        <div class="row">
            <div class="col-md-2">
                <h2>Categories</h2>
                <div class="list-group">
                    {% for category in all_cats %}
                        <a href="#" class="list-group-item">{{ category }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-5">
                <h2 id="allbets">All Bets</h2>
                <ul>
                {% for bet in all_bets %}
                <a href="{% url 'web-bet_detail' bet.id %}" style="text-decoration:none">
                    <div class="panel panel-primary">
                      <div class="panel-heading">
                        <h3 class="panel-title">{{ bet.category }}</h3>
                      </div>
                      <div class="panel-body">
                        {{ bet.question }}
                      </div>
                    </div>
                </a>
                {% endfor %}
                </ul>
                {% if not all_bets %}
                    <p>Sorry, no listings are available at this time.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
